body{text-align: center; font-family: Helvetica;}
h3{font-size: 23px; font-weight: bold;}
h4{background-color: dimgray; text-align: left; font-size: 11px;}
p{font-size: 14px;}
a{text-decoration: underline;}
.font-18{font-size: 18px;}
.font-32{font-size: 32px;}
.font-70{font-size: 70px;}
.bold{font-weight: bold;}
.white{color: white;}
.white a{color: white;}
#banner{background-image: url("../images/the-flatiron-building.png");}
